:root {
    --white: #fff;
    --opacity-white: #d7ccc0;
    --light: #f5f4f0;
    --primary-color: #fe8a02;
    --primary-dark: #42413c;
    --dark: #2a2626;
    --light-dark: #212529;
    --opacity-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;

}
* {
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.page-body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: var(--dark);
}

.title {
    font-family: 'Neucha', sans-serif;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
    padding: 100px 0;
}

.title__another-color-part {
    color: var(--primary-color);
}

.title__another-color-part-light {
    color: var(--white);
}

.page-header__container {
    position: relative;
}

.page-header::before {
    content: "";
    width: 100%;
    height: 100%;
    background: url("./images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
}

.page-title {
    font-size: 72px;
}

.page-header__image {
    position: absolute;
    top: 50px;
    right: -290px;
    height: 525px;
}
.section-title {
    font-size: 60px;
    color: var(--dark);
}

.page-header__text-block {
    display: flex;
    gap: 30px;
    margin-top: 200px;
}

.page-header__text {
    min-width: 540px;
}

.page-header__link {
    background-color: var(--primary-color);
    padding: 12px 24px;
    width: 148px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
}

.page-header__right-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-title {
    font-size: 34px;
    color: var(--primary-color);
}

.video-section__container {
    position: relative;
    min-height: 815px;
}

.video-section__video {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.video-section__title {
    text-align: center;
    margin-bottom: 30px;
}

.video-section__subtitle {
    text-align: center;
    color: var(--light-dark);
}

.info {
    background-color: var(--primary-dark);
}

.info__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.info__title {
    color: var(--primary-color);
}    

.info__container {
    padding-top: 100px;
}

.a {
    flex-basis: 350px;
    min-height: 323px;
}

.info__card {
    background-color: var(--light);
    padding: 20px;
}

.card__text {
    color: var(--dark);
    font-style: 16px;
}